<script setup lang="ts">
import { ref, onMounted, watch, useSlots, onBeforeUnmount } from 'vue'

const props = defineProps<{
    modelValue: boolean
    title: string,
    showHeader: {
        required: false,
        type: boolean,
        default: false
    },
    backDrop: {
        type: string,
        default: 'default'
    }
}>()

const emit = defineEmits<{
    (e: 'update:modelValue', modelValue: boolean): void
}>()

const modalRef = ref<HTMLElement | null>(null)
let modal: any = null
onMounted(() => {
    if (modalRef.value) {
        modal = new bootstrap.Modal(modalRef.value)
    }
})

watch(() => props.modelValue, (modelValue) => {
    if (modelValue) {
        modal.show()
    } else {
        modal.hide()
        emit('update:modelValue', false)
    }
})

function close() {
    emit('update:modelValue', false)
}

function closeBackDrop() {
    if (props.backDrop === 'static') {
        return
    }
    emit('update:modelValue', false)
}

const slots = useSlots();
</script>

<template>
    <div @click="closeBackDrop" class="modal fade" tabindex="-1" aria-hidden="true" ref="modalRef" :data-bs-backdrop="backDrop">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div v-if="slots.header || showHeader" class="modal-header">
                    <h5 class="modal-title">{{ title }}</h5>
                    <button type="button" class="btn-close" aria-label="Close" @click="close"></button>
                </div>
                <div class="modal-body">
                    <slot />
                </div>
                <div v-if="slots.footer" class="modal-footer">
                    <slot name="footer" />
                </div>
            </div>
        </div>
    </div>
</template>
