.auth {
    background-image: url('/assets/media/auth/bg-auth.svg');
    height: 98vh;
    background-repeat: no-repeat;
    background-size: cover;

    .otp-field {
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            height: 56px;
            width: 56px;
            border-radius: 12px;
            outline: none;
            font-size: 1.125rem;
            text-align: center;
            border: 1px solid #ddd;
            font-weight: bold;

            &.c {
                background: linear-gradient(#7C7C7C, #7C7C7C) center bottom 10px /calc(100% - 22px) 1px no-repeat;
                padding: 10px;
            }

            &:focus {
                box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
            }

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                display: none;
            }
        }
    }



    .resend {
        font-size: 12px;
    }

    @media (max-width: 767px) {
        .otp-field {
            column-gap: 13px;

            input {
                height: 48px;
                width: 48px;
            }
        }
    }

}


.register-complete{
    .tabs {
        color: $grey-dark-1;
        .active {
            color: $primary-active;
            font-weight: bold;
        }
        .icon {
            width: 36px;
        }
    }
}
