.dashboard {
    padding: 20px 20px;
    background-color: $body-grey-background !important;

    .bannerInfo {
        color: $white;

        @include media-breakpoint-up(xl) {
            p {
                font-size: 14px !important;
            }
        }

        .card-body {
            @include media-breakpoint-up(md) {
                @include centered-vertical;
            }
        }

        h2 {
            font-size: 17px !important;
            color: $white !important;
            font-weight: bold;

            @include media-breakpoint-up(lg) {
                font-size: 21px !important;
            }

            @include media-breakpoint-up(xl) {
                font-size: 28px !important;
            }
        }

        background: rgb(10, 0, 128) !important;
        background: -moz-linear-gradient(90deg, rgba(10, 0, 128, 1) 0%, rgba(142, 202, 230, 1) 100%) !important;
        background: -webkit-linear-gradient(90deg, rgba(10, 0, 128, 1) 0%, rgba(142, 202, 230, 1) 100%) !important;
        background: linear-gradient(90deg, rgba(10, 0, 128, 1) 0%, rgba(142, 202, 230, 1) 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a0080", endColorstr="#8ecae6", GradientType=1);

        .btnTry {
            background-color: $warning;
            border: none;
            color: $white;
            font-weight: 600;
            font-size: small;
            padding: 10px 30px 10px 30px !important;
        }

        .iconContainer {
            text-align: center;

            img {
                height: 100%;
                max-width: 100%;
                @include centered-vertical;
                right: 0;

                @include media-breakpoint-up(md) {
                    height: auto !important;
                    width: 116px !important;
                }

                @include media-breakpoint-up(lg) {
                    height: auto !important;
                    width: 160px !important;
                }
            }
        }
    }

    .bannerAd {
        position: relative !important;
        color: $black;

        @include media-breakpoint-up(xl) {
            p {
                font-size: 14px !important;
            }
        }

        h2 {
            font-size: 17px !important;
            color: $black !important;
            font-weight: bold;

            @include media-breakpoint-up(lg) {
                font-size: 21px !important;
            }

            @include media-breakpoint-up(xl) {
                font-size: 28px !important;
            }
        }

        background: rgb(255, 226, 89);
        background: -moz-linear-gradient(90deg, rgba(255, 226, 89, 1) 0%, rgba(255, 167, 81, 1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(255, 226, 89, 1) 0%, rgba(255, 167, 81, 1) 100%);
        background: linear-gradient(90deg, rgba(255, 226, 89, 1) 0%, rgba(255, 167, 81, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe259", endColorstr="#ffa751", GradientType=1);

        .btnTry {
            background-color: $warning;
            border: none;
            color: $white;
            font-weight: 600;
            font-size: small;
            padding: 10px 30px 10px 30px !important;
        }

        .iconContainer {
            text-align: center;

            img {
                height: 100%;
                max-width: 100%;
                @include centered-vertical;
                right: 0;

                @include media-breakpoint-up(md) {
                    height: auto !important;
                    width: 116px !important;
                }

                @include media-breakpoint-up(lg) {
                    height: auto !important;
                    width: 160px !important;
                }
            }
        }
    }

    .packagePlan {
        height: fit-content !important;

        @include media-breakpoint-up(md) {
            min-height: 238px;
        }

        .btnBuyNow {
            background-color: $primary;
            border: none;
            color: $white;
            font-weight: 600;
            font-size: small;
            padding: 10px 30px 10px 30px;
        }

        .iconContainer {
            text-align: center;
            position: relative !important;

            img {
                max-width: 100%;
                @include centered-vertical;
                right: 0;
                margin-top: 15px;
            }
        }

        .iconContainerLeft {
            text-align: center;
            position: relative !important;

            img {
                max-width: 100%;
                @include centered-vertical;
                left: 0;
            }
        }

        .packageName {
            font-size: 26px !important;
        }

        .currentPackageName {
            font-size: 26px !important;
            font-weight: bold;
            color: $grey-dark-2;
        }

        .totalPlan {
            font-size: 12px !important;
            color: $grey-dark-2;
            line-height: 35px;

            .totalPlanUsed {
                font-size: 20px !important;

                .progressNumber {
                    font-size: 14px !important;
                    font-weight: bold;
                    color: $grey-dark-2;
                    float: right;
                }
            }
        }
    }

    .actionButton {
        font-size: small;
        color: $black;
        right: 0;
        margin: 0;
        @include centered-vertical;
        top: auto
    }

    @mixin textTitleNumber {
        font-size: 26px;
        font-weight: 600;
    }

    .textTitleNumber {
        @include textTitleNumber();
    }

    .textSmall {
        font-size: 12px;
        font-weight: normal;
        color: $grey-dark-1;
    }

    .profitNumberTitle {
        @include textTitleNumber();
        color: $navy;
    }

    @mixin tagCart {
        padding-top: 11px;
        padding-bottom: 11px;
        border: none;
        position: relative;

        img {
            @include centered-vertical;
        }

        strong {
            margin-left: 24px;
            font-size: 14px;
        }
    }

    .tagCartGreen {
        @include tagCart();
        background-color: $transparent-green !important;

    }

    .tagCartRed {
        @include tagCart();
        background-color: $transparent-red !important;
    }

    .tagCartNavy {
        @include tagCart();
        color: $navy;
        background-color: $transparent-navy !important;
        @include centered-horizontal;

        strong {
            margin-left: 0px !important;
        }
    }

    .procurementChart {
        margin-bottom: 16px;

        .numberContainer {
            margin-left: 20px;

            .procurementNumberTitle {
                @include textTitleNumber();
                // color: $yellow-semi-dark;
            }
        }
    }

    .expenditureChart {
        .numberContainer {
            .expenditureNumberTitle {
                @include textTitleNumber();
                color: $danger;
            }
        }
    }

    .topCustomers {
        .listHeader {
            background-color: $grey-light-3;
            padding: 10px;
            color: $grey-dark-2;
            font-size: medium;
            margin: 0px;
        }

        .listItem {
            border-bottom: dashed 1px $grey-light-2;
            padding: 10px;

            .personDetail {
                .name {
                    font-weight: 600;
                    font-size: 14px;
                    color: $black;
                }

                .note {
                    color: $grey-dark-2;
                    font-size: small !important;
                }
            }

            .date {
                font-size: small;
            }

            .amount {
                font-size: 14px;
                font-weight: 600;
            }
        }

        .footer {
            padding: 10px;

            .btn {
                font-size: 12px;
                color: $black;
            }
        }
    }

    .topProducts {
        .listHeader {
            background-color: $grey-light-2;
            padding: 10px;
            color: $grey-dark-2;
            font-size: medium;
        }

        .listItem {
            border-bottom: dashed 1px $grey-light-2;
            padding: 10px;

            .personDetail {
                .name {
                    font-weight: 600;
                    font-size: 14px;
                    color: $black;
                }

                .note {
                    color: $grey-dark-2;
                    font-size: small !important;
                }
            }

            .date {
                font-size: small;
            }

            .amount {
                font-size: 14px;
                font-weight: 600;
            }
        }

        .footer {
            padding: 10px;

            .btn {
                font-size: 12px;
                color: $black;
            }
        }
    }

}
