.titleCard {
    position: relative !important;
    border-bottom: 1px dashed $card-border-dashed-color !important;

    .icon {
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 26px;
        height: 26px;
    }

    .iconBig {
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 42px;
        height: 42px;
    }

    .infoIcon {
        margin-left: 10px;
    }

    .title {
        margin: 0px 0px 0px 32px;
        padding: 0px 0px;
        line-height: 20px;

        &>span {
            font-size: 12px;
            font-weight: normal;
            color: $grey-dark-2;

        }
    }

    .titleBig {
        margin: 0px 0px 0px 46px;
        padding: 0px 0px;
        line-height: 20px;

        &>span {
            font-size: 12px;
            font-weight: normal;
            color: $grey-dark-2;

        }
    }
}


/* Style for disabled buttons */
button:disabled {
    opacity: 1 !important;
    /* Add your styles here */
    background-color: $grey-dark-2 !important;
    /* Change the background color */
    color: $white !important;
    /* Change the text color */
    cursor: not-allowed;
    /* Change the cursor style */
    /* Add any other styles you want to apply to disabled buttons */
}
