// custome sweet alert
.custom-swal{
    .bg-dark-navy-2{
        background-color: $navy-dark-2 !important;
    }
    .swal2-actions{
        width: 85%;
    }
}
.custom-btn{
    
    .text-dark-navy-2{
        color: $navy-dark !important;
        font-weight:700 !important;
    }
    .btn-navy-primary {
        background: $navy-dark-2;
    }
    
    .btn-navy-primary:hover {
        background: $navy-dark-2;
    }
}
// transaction
.transaction-home{
    #icon-search-bar{
        max-width: 46px;
    }
    .search-bar{
        position: relative;
    }
    .search-bar.active{
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .dropdown-search {
        box-shadow: 0 1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin: 0 !important;
        z-index: 10;
        border-bottom-left-radius: 28px;
        border-bottom-right-radius: 28px;
        overflow: hidden;
    }
    .dropdown-search.show {
        display:inline-grid;
    }
    .dropdown-search .content{
        max-height: 200px;
        overflow: scroll;
    }
    .dropdown-search .content::-webkit-scrollbar {
        width: 10px !important;
    }
    .form-style-item:hover{
        background: #3E97FF;
    }
    .form-style-item:hover i {
        color: white !important;
    }
    .form-style-item:hover span {
        color: white !important;
    }
    .img-recent-form-style{
        width: 120px !important;
        height: 100px !important;
    }
    .form-style-recent-item:hover{
        border : 1px solid lightgray !important;
    }
    .fw-700{
        font-weight:700;
    }
    .form-control-lg {
        height: 68px;
    }
    .rounded-custom-28{
        border-radius: 28px !important;
    }
}

.dashboard-transaction {
    .dataTables_wrapper .row {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.create-transaction{

    .item-customer{
        border-bottom: dashed 2px #F2F2F2;
        padding: 15px;
        margin-top: 5px;
        cursor: pointer;
    }
    .item-customer:hover{
        border: dashed 2px #F2F2F2;
        border-radius: 0.475rem;
        padding: 15px;
    }

    .card-barrier{
        background-color: $gray-200;
        padding: 2rem 2.25rem;
    }
    .cursor-pointer{
        cursor: pointer;
    }

    .w-fit{
        width: fit-content;
    }

    .form-floating .form-select{
        padding-top: 1.6rem !important;
        padding-bottom: 0.4rem !important;
    }
}

.edit-transaction {
    .digit-bg-primary {
        background: $navy-dark-2;
    }

    .digit-bg-primary:hover {
        background: $navy-dark-2;
    }

    .swal2-actions {
        width: 85%;
        margin: 0 auto;
    }
}

