<script>
import { defineComponent, onMounted, ref } from 'vue'

export default defineComponent({
    name: 'Default',
    setup(props, context) {
        const data = ref([])
        // lifecycle hooks
        onMounted(() => {
            data.value = Math.random() * 10;
        })

        return {
            data
        }
    }
})
</script>

<template>
    <div class="card shadow-sm packagePlan">
        <div class="card-header titleCard">
            <h3 class="card-title">
                <img class="icon" src="/assets/media/dashboard/yellow-bookmark.png" alt='Yellow Bookmark' />
                <span class="title">Paket Plan</span>
            </h3>
            <div class="card-toolbar">
                <a class="btn btn-sm bg-body">
                    Lihat Paket Plan <i class="ki-outline text-dark ki-duotone ki-right"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <p>Upgrade Paket Plan anda untuk memudahkan bisnis anda.</p>
                    <button class="btn btn-lg btnBuyNow">
                        Coba Sekarang
                    </button>
                </div>
                <div class="col-4 iconContainer">
                    <img src="/assets/media/dashboard/rocket.png" alt='rocket Icon' />
                </div>
            </div>
        </div>
    </div>
</template>
