<script>
import { defineComponent, onMounted, ref } from 'vue'
import ProgressBar from '../../ProgressBar.vue'

export default defineComponent({
    name: 'Default',
    components: {
        ProgressBar
    },
    props: {
        packagePlan: {
            type: Object,
            required: true
        }
    },
    setup(props, context) {
        const data = ref(props.data)
        // lifecycle hooks
        onMounted(() => {
            data.value = Math.random() * 10;
        })

        return {
            data
        }
    }
})
</script>
<template>
   <div class="card shadow-sm packagePlan">
        <div class="card-header titleCard">
            <h3 class="card-title">
                <img class="icon" src="/assets/media/dashboard/blue-bookmark.png" alt='Yellow Bookmark' />
                <span class="title">Paket Plan</span>
            </h3>
            <div class="card-toolbar">
                <a class="btn btn-sm bg-body">
                    Lihat Paket Plan <i class="ki-outline text-dark ki-duotone ki-right"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4 iconContainerLeft">
                    <img src="/assets/media/dashboard/rocket.png" alt='rocket Icon' />
                </div>
                <div class="col-8">
                    <div class="currentPackageName">
                        Plan Premium

                        <a class="btn btn-sm btn-primary float-end">
                            Upgrade
                        </a>
                    </div>
                    <div class="totalPlan">
                        <span>Total plan terpakai: </span><br/>
                        <div class="totalPlanUsed"><strong>200 Plan</strong> / 1000 plan <span class="progressNumber">20%</span></div>
                        <progress-bar :progress="40"/>
                        <div>Tersisa 18 hari lagi</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
