<script>
import { defineComponent, onMounted, ref } from 'vue'
import Default from './Default.vue'
import Exists from './Exists.vue'

export default defineComponent({
    name: 'PackagePlan',
    components: {
        Default,
        Exists
    },
    setup() {
        const data = ref([])
        // lifecycle hooks
        onMounted(() => {
            data.value = Math.ceil(Math.random() * 10);
        })

        return {
            data
        }
    }
})
</script>

<template>
    <div>
        <default v-if="(data % 2 === 0)" />
        <Exists v-else :data="data"/>
    </div>
</template>
