<script>
import { defineComponent, onMounted, ref } from 'vue'
import { useInitStore } from '../stores/useInitStore'

export default defineComponent({
    name: 'GlobalInit',
    props: {
        csrfToken: {
            type: String,
            required: false
        }, user: {
            type: Object,
            required: false
        }
    },
    setup(props, context) {
        const initStore = useInitStore()
        initStore.csrfToken = props.csrfToken
        // // lifecycle hooks
        onMounted(() => {
            console.log(props.csrfToken)
        })

        return {
            csrfToken: props.csrfToken,
            user: props.user
        }
    }
})
</script>
<template>
<div></div>
</template>
