<script>
import { defineComponent, onMounted, ref } from 'vue'

export default defineComponent({
    name: 'ProgressBar',
    props: {
        progress: {
            type: Number,
            required: true
        }
    },
    setup(props, context) {
        const progress = ref(0)
        progress.value = props.progress
        // lifecycle hooks
        onMounted(() => {

        })

        return {
            progress
        }
    }
})
</script>
<template>
    <div class="progresbar-container">
        <div class="progress" :style="{ width: progress + '%' }"></div>
    </div>
</template>

<style lang="scss" scoped>
    .progresbar-container {
        width: 100%;
        height: 16px;
        background-color: #F9F9F9;
        border-radius: 10px;
        .progress {
            height: 16px;
            background-color: #367BEA;
            border-radius: 10px;
        }
    }
</style>
