<script>
import { defineComponent, onMounted } from 'vue'

export default defineComponent({
    name: 'HelpFeature',
    setup() {
        // lifecycle hooks
        onMounted(() => {

        })

        return {

        }
    }
})
</script>

<template>
    <div class="card shadow-sm bannerAd h-100">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <h2>Management Mudah</h2>
                    <p>Dengan menggunakan tigadigit.id cashflow bisnis akan terpantau <strong>aman</strong></p>

                    <button class="btn btn-lg btnTry">
                        Beli Plan
                    </button>
                </div>
                <div class="col-4 iconContainer">
                    <img src='/assets/media/dashboard/ad-banner.png' alt='Banner Info Icon' />
                </div>
            </div>
        </div>
    </div>
</template>
