<script>
import { defineComponent, onMounted, ref } from 'vue'
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'

import VueApexCharts from 'vue3-apexcharts'

export default defineComponent({
    name: 'CashFlowChart',
    components: {
        VueDatePicker,
        VueApexCharts
    },
    setup(props, context) {
        const month = ref({
            month: new Date().getMonth(),
            year: new Date().getFullYear()
        });

        const data = ref(0)
        data.value = Math.random() * 10;

        const chartOptions = ref({})
        // lifecycle hooks
        onMounted(() => {
            updateChart()
        })

        function updateChart() {
            chartOptions.value = {
                options: {
                    chart: {
                        id: 'vuechart-example',
                        toolbar: {
                            show: false
                        }
                    },
                    xaxis: {
                        categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998],
                        labels: {
                            show: false,
                        }
                    },
                    legend: {
                        show: false
                    },
                    dataLabels: {
                        enabled: false
                    },
                    fill: {
                        type: 'solid',
                        opacity: 0.3,
                        colors: ['#FFA800']
                    },
                    stroke: {
                        curve: 'straight',
                        show: true,
                        width: 3,
                        colors: ['#FFA800']
                    },
                },
                series: [{
                    name: 'series-1',
                    data: [30, 40, 45, 50, 49, 60, 70, 91]
                }]
            };
        }

        return {
            month,
            data,
            chartOptions,

            updateChart
        }
    }
})
</script>

<template>
    <div class="card card-sm shadow-sm procurementChart">
        <div class="card-header titleCard">
            <h3 class="card-title">
                <strong>Arus Kas</strong>
            </h3>
            <div class="card-toolbar">
                <VueDatePicker v-model="month" month-picker />
            </div>
        </div>
        <div class="card-body p-0">
            <div class="numberContainer ms-10">
                <div class="procurementNumberTitle text-warning">
                    Rp 200.000,-
                </div>
                <span class="textSmall">
                    Grafik arus kas perusahaan
                </span>
            </div>

            <vueApex-charts height="130" type="area" :options="chartOptions.options"
                :series="chartOptions.series" />
        </div>
    </div>
</template>
