<script>
import { defineComponent, onMounted, ref } from 'vue'
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'

import VueApexCharts from 'vue3-apexcharts'

export default defineComponent({
    name: 'CashFlowBankingChart',
    components: {
        VueDatePicker,
        VueApexCharts
    },
    setup(props, context) {
        const year = ref(new Date().getFullYear())

        const data = ref(0)
        data.value = Math.random() * 10;

        const chartOptions = ref({})

        // lifecycle hooks
        onMounted(() => {
            updateChart()
        })

        let updateChart = () => {
            chartOptions.value = {
                series: [{
                    name: 'Credit',
                    data: [31, 40, 28, 51, 42, 109, 100]
                }, {
                    name: 'Debit',
                    data: [11, 32, 45, 32, 34, 52, 41]
                }],

                options: {
                    chart: {
                        id: 'CashFlowBankingChart',
                        type: 'area',
                        toolbar: {
                            show: false
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        curve: 'smooth'
                    },
                    xaxis: {
                        type: 'datetime',
                        categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                    },
                    tooltip: {
                        x: {
                            format: 'dd/MM/yy HH:mm'
                        },
                    },
                    legend: {
                        position: 'bottom',
                        horizontalAlign: 'center',
                    }
                }
            };
        }

        return {
            year,
            chartOptions,
            data,

            updateChart
        }
    }
})
</script>

<template>
    <div class="card card-sm shadow-sm h-100">
        <div class="card-header titleCard">
            <h3 class="card-title">
                <img class="icon" src="/assets/media/dashboard/dollar-badge.png" alt='Expenditure' />
                <span class="title">Transaction</span>
                <span class="infoIcon">
                    <i class="ki-duotone ki-information-2 fs-1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                    </i>
                </span>
            </h3>
            <div class="card-toolbar">
                <VueDatePicker v-model="year" year-picker />
            </div>
            <div class="card-toolbar">
                <select class="form-select form-select-sm" aria-label="Select example">
                    <option>Pilih Kas</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <div class="card-body p-0">
            <vueApex-charts
                class="h-100"
                type="area"
                height="400"
                :options="chartOptions.options"
                :series="chartOptions.series"
            />
        </div>
    </div>
</template>
