<script>
import { defineComponent, onMounted } from 'vue'

export default defineComponent({
    name: 'HelpFeature',
    setup() {
        // lifecycle hooks
        onMounted(() => {

        })

        return {

        }
    }
})
</script>

<template>
    <div class="card shadow-sm bannerInfo h-100">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <h2>Fitur Yang Membantu</h2>
                    <p>Tingkatkan plan anda dengan paket menarik kami, cobalah sekarang.</p>

                    <button class="btn btn-lg btnTry">
                        Coba Sekarang
                    </button>
                </div>
                <div class="col-4 iconContainer">
                    <img src='/assets/media/dashboard/bannerinfo-icon.png' alt='Banner Info Icon' />
                </div>
            </div>
        </div>
    </div>
</template>
