<script>
import { defineComponent, onMounted, ref } from 'vue'
import RadialBarChart from './RadialBarChart.vue';

export default defineComponent({
    name: 'OperatingMarginChart',
    components: {
        RadialBarChart
    },
    setup(props, context) {

        onMounted(() => {

        })

        return {

        }
    }
})
</script>

<template>
    <div class="card card-sm shadow-sm procurementChart">
        <div class="card-header titleCard">
            <h3 class="card-title">
                <div>
                    <h2>
                        Margin Kotor
                    </h2>
                    <small>Data hutang terhadap aktiva</small>
                </div>
            </h3>
        </div>
        <div class="card-body p-0">
            <radial-bar-chart :height="380" color="#FFBC26" :progress="76"/>
        </div>
    </div>
</template>
