<script>
import { defineComponent, onMounted, ref } from 'vue'

import VueApexCharts from 'vue3-apexcharts'

export default defineComponent({
    name: 'AssetsPayableChart',
    components: {
        VueApexCharts
    },
    props:{
        color: {
            type: String,
            default: '#000000'
        },
        progress: {
            type: Number,
            default: 0
        },
        height: {
            type: Number,
            default: 500
        }
    },
    setup(props, context) {
        const height = ref(props.height)

        const chartOptions = ref({
            series: [props.progress],
            options: {
                chart: {
                    height: props.height,
                    width: props.height,
                    type: "radialBar",
                },
                colors: [props.color],
                plotOptions: {
                    radialBar: {
                        hollow: {
                            margin: 0,
                            size: "30%",
                            background: "#FFFFFF"
                        },
                        track: {
                            dropShadow: {
                                enabled: true,
                                top: 2,
                                left: 0,
                                blur: 4,
                                opacity: 0.15
                            }
                        },
                        dataLabels: {
                            name: {
                                offsetY: -10,
                                color: "#333",
                                fontSize: "13px",
                                show: false
                            },
                            value: {
                                color: "#000",
                                fontSize: "30px",
                                show: true
                            }
                        }
                    }
                },
                fill: {
                    type: "gradient",
                    gradient: {
                        shade: "dark",
                        type: "vertical",
                        gradientToColors: [props.color],
                        stops: [0, 100]
                    }
                },
                stroke: {
                    show: true,
                    curve: 'smooth',
                    lineCap: 'butt',
                    colors: ['#87D4F9'],
                    width: 10,
                },
                labels: ["Progress"]
            }
        })

        return {
            height,

            chartOptions,
        }
    }
})
</script>

<template>
    <vueApex-charts :height="height" type="radialBar" :options="chartOptions.options" :series="chartOptions.series" />
</template>
