<script>
import { defineComponent, onMounted, ref } from 'vue'
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'

export default defineComponent({
    name: 'RevenueTotal',
    components: { VueDatePicker },
    setup(props, context) {
        const selectedDate = ref();

        const data = ref(0)
        data.value = Math.random() * 10;

        // lifecycle hooks
        onMounted(() => {

        })

        const onDateSelected = () => {
            const [startDate, endDate] = selectedDate.value;
            console.log('Start Date:', startDate);
            console.log('End Date:', endDate);
        }

        return {
            selectedDate,
            data,

            onDateSelected
        }
    }
})
</script>

<template>
    <div class="card card-sm shadow-sm">
        <div class="card-header titleCard">
            <h3 class="card-title">
                <img class="icon" src="/assets/media/dashboard/chart-up-green.png" alt='Revenue' />
                <span class="title">Pendapatan</span>
                <span class="infoIcon">
                    <i class="ki-duotone ki-information-2 fs-1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                    </i>
                </span>
            </h3>
            <div class="card-toolbar">
                <VueDatePicker v-model="selectedDate" range multi-calendars :enable-time-picker="false" @update:modelValue="onDateSelected"  model-type="yyyy-MM-dd"/>
            </div>
        </div>
        <div class="card-body">
            <div class="h-100 position-relative" v-if="data==0">
                <div class="text-center position-absolute top-50 start-50 translate-middle w-100">
                    Belum ada pemasukan untuk saat ini
                </div>
            </div>
            <div class="row" v-else>
                <div class="col-8">
                    <div class="textTitleNumber text-success">Rp 200.000,-</div>
                    <div class="textSmall">Pendapatan pada bulan ini</div>
                </div>
                <div class="col-4 text-center">
                    <div class="badge badge-light-success tagCartGreen">
                        <img class="float-left" src='/assets/media/dashboard/arrow-trending-up.png'
                            alt='rocket Icon' />&nbsp;<strong>3.1%</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
