<script>
import { defineComponent, onMounted, ref } from 'vue'
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'

export default defineComponent({
    name: 'TopCustomers',
    components: { VueDatePicker },
    setup(props, context) {
        const month = ref({
            month: new Date().getMonth(),
            year: new Date().getFullYear()
        });

        const data = ref(0)
        data.value = [
            {
                avatar: '/assets/media/avatars/300-1.jpg',
                name: 'John Doe',
                Date: '12/12/2020',
                value: 1000000
            },
            {
                avatar: '/assets/media/avatars/300-2.jpg',
                name: 'John Doe',
                Date: '12/12/2020',
                value: 1000000
            },
            {
                avatar: '/assets/media/avatars/300-1.jpg',
                name: 'John Doe',
                Date: '12/12/2020',
                value: 1000000
            },
            {
                avatar: '/assets/media/avatars/300-2.jpg',
                name: 'John Doe',
                Date: '12/12/2020',
                value: 1000000
            },
            {
                avatar: '/assets/media/avatars/300-1.jpg',
                name: 'John Doe',
                Date: '12/12/2020',
                value: 1000000
            },
            {
                avatar: '/assets/media/dashboard/users-badge.png',
                name: 'Andri Kalbon',
                Date: '12/12/2020',
                value: 1000000
            },
            {
                avatar: '/assets/media/avatars/300-1.jpg',
                name: 'John Doe',
                Date: '12/12/2020',
                value: 1000000
            },
            {
                avatar: '/assets/media/dashboard/users-badge.png',
                name: 'John Doe',
                Date: '12/12/2020',
                value: 1000000
            },
            {
                avatar: '/assets/media/dashboard/users-badge.png',
                name: 'John Doe',
                Date: '12/12/2020',
                value: 1000000
            },
            {
                avatar: '/assets/media/avatars/300-2.jpg',
                name: 'John Doe',
                Date: '12/12/2020',
                value: 1000000
            },
        ];

        // lifecycle hooks
        onMounted(() => {

        })

        return {
            month,
            data
        }
    }
})
</script>

<template>
    <div class="card card-sm shadow-sm h-100 topCustomers">
        <div class="card-header titleCard">
            <h3 class="card-title">
                <img class="icon" src="/assets/media/dashboard/users-badge.png" alt='Expenditure' />
                <span class="title">Top 10 Pelanggan</span>
                <span class="infoIcon">
                    <i class="ki-duotone ki-information-2 fs-1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                    </i>
                </span>
            </h3>
            <div class="card-toolbar">
                <VueDatePicker v-model="month" month-picker />
            </div>
        </div>
        <div class="card-body p-0">
            <div class="row listHeader">
                <div class="col-6">Name</div>
                <div class="col-3">Date</div>
                <div class="col-3">Amount</div>
            </div>
            <div class="row listItem" v-for="customer in data" :key="customer">
                <div class="col-6">
                    <div class="personDetail d-flex align-items-center">
                        <div class="symbol symbol-40px symbol-circle me-3">
                            <img :src="customer.avatar" />
                        </div>
                        <div>
                            <Text class="name">{{ customer.name }}</Text><br />
                            <small class="note">Just now</small>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <span class="date">{{ customer.Date }}</span>
                </div>
                <div class="col-3">
                    <span class="amount">{{ customer.value }}</span>
                </div>
            </div>
            <div class="row footer">
                <div class="col-12">
                    <a class="btn btn-sm bg-body">
                        Lihat Detail<i class="ki-outline text-dark ki-duotone ki-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
