<script>
import { defineComponent, onMounted, ref } from 'vue'
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'

export default defineComponent({
    name: 'TopCustomers',
    components: { VueDatePicker },
    setup(props, context) {
        const month = ref({
            month: new Date().getMonth(),
            year: new Date().getFullYear()
        });

        const data = ref(0)
        data.value = [
            {
                photo: '/assets/media/dashboard/users-badge.png',
                name: 'John Doe',
                value: 1000000
            },
            {
                photo: '/assets/media/avatars/300-2.jpg',
                name: 'John Doe',
                value: 1000000
            },
            {
                photo: '/assets/media/dashboard/users-badge.png',
                name: 'John Doe',
                value: 1000000
            },
            {
                photo: '/assets/media/avatars/300-2.jpg',
                name: 'John Doe',
                value: 1000000
            },
            {
                photo: '/assets/media/avatars/300-2.jpg',
                name: 'John Doe',
                value: 1000000
            },
        ];

        // lifecycle hooks
        onMounted(() => {

        })

        return {
            month,
            data
        }
    }
})
</script>

<template>
    <div class="card card-sm shadow-sm h-100 topCustomers">
        <div class="card-header titleCard">
            <h3 class="card-title">
                <img class="iconBig" src="/assets/media/dashboard/top-products.png" alt='top products' />
                <span class="titleBig">
                    Produk Terlaris<br />
                    <span>Penjualan terlaris saat ini</span>
                </span>
                <span class="infoIcon">
                    <i class="ki-duotone ki-information-2 fs-1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                    </i>
                </span>
            </h3>
            <div class="card-toolbar">
                <a class="btn btn-sm bg-body">
                    Lihat Detail <i class="ki-outline text-dark ki-duotone ki-right"></i>
                </a>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="row listHeader">
                <div class="col-7">Nama Produk</div>
                <div class="col-5">Terjual</div>
            </div>
            <div class="row listItem" v-for="product in data" :key="product">
                <div class="col-7">
                    <div class="personDetail d-flex align-items-center">
                        <div class="symbol symbol-50px me-3">
                            <img :src="product.photo" />
                        </div>
                        <div>
                            <Text class="name">{{ product.name }}</Text><br />
                            <small class="note">120 Pcs tersisa</small>
                        </div>
                    </div>
                </div>
                <div class="col-5 text-end">
                    <span class="amount">{{ product.value }}</span>
                </div>
            </div>
        </div>
    </div>
</template>
