@mixin centered-vertical {
    position: absolute !important;
    top: 50% !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}

@mixin centered-horizontal {
    position: absolute !important;
    left: 50% !important;
    -ms-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
}
