<script>
import { defineComponent, onMounted, reactive, ref } from 'vue'
import Multiselect from '@vueform/multiselect'
import api from 'api'
import { useApiStore } from '../../stores/useApiStore'
export default defineComponent({
    name: 'CompanyDetail',
    components: {
        Multiselect,
    },
    computed: {
        validated() {
            return !Object.values(this.companyData).some(value => !value);
        }
    },
    setup() {
        const apiStore = useApiStore()

        const companyData = reactive({
            name: '',
            company_category_id: '',
            employee_count_id: '',
            company_customer_id: ''
        })

        const register = async () => {
            const response = await api.post('/register', companyData)

            return response.data.data
        }

        const fetchCompanyRole = async (query) => {
            const response = await api.get('/company-role/list', {
                params: {
                    query: query
                }
            })

            return response.data.data
        }

        return {
            companyData,
            apiStore,

            register,
            fetchCompanyRole
        }
    }
})
</script>

<template>
    <h4 class="card-title mt-8 mb-2 fw-bolder">Profil Pribadi</h4>
    <p class="card-text">Isi data akun pribadi kamu dengan lengkap</p>
    <form>
        <div class="mb-3 d-flex flex-column align-items-start">
            <label for="name" class="form-label fw-bolder">Nama Lengkap</label>
            <input v-model="companyData.name" type="text" placeholder="Masukkan nama lengkap Anda"
                class="form-control" id="name">
        </div>
        <div class="mb-3 d-flex flex-column align-items-start">
            <label for="phone_number" class="form-label fw-bolder">Kategori Perusahaan</label>
            <Multiselect
                v-model="companyData.company_category_id"
                placeholder="Choose your role"
                :close-on-select="true"
                :filter-results="false"
                :min-chars="0"
                :resolve-on-load="false"
                :infinite="true"
                :limit="10"
                :clear-on-search="true"
                :delay="0"
                :searchable="true"
                :options="async (query) => {
                    return await fetchCompanyRole(query)
                }"
                @open="(select$) => {
                        if (select$.noOptions) {
                            select$.resolveOptions()
                        }
                }" />
        </div>
        <div class="mb-3 d-flex flex-column align-items-start">
            <label for="phone_number" class="form-label fw-bolder">Jumlah Karyawan</label>
            <Multiselect
                v-model="companyData.employee_count_id"
                placeholder="Choose your role"
                :close-on-select="true"
                :filter-results="false"
                :min-chars="0"
                :resolve-on-load="false"
                :infinite="true"
                :limit="10"
                :clear-on-search="true"
                :delay="0"
                :searchable="true"
                :options="async (query) => {
                    return await fetchCompanyRole(query)
                }"
                @open="(select$) => {
                        if (select$.noOptions) {
                            select$.resolveOptions()
                        }
                }" />
        </div>
        <div class="mb-3 d-flex flex-column align-items-start">
            <label for="phone_number" class="form-label fw-bolder">Siapa Customer Anda</label>
            <Multiselect
                v-model="companyData.company_customer_id"
                placeholder="Choose your role"
                :close-on-select="true"
                :filter-results="false"
                :min-chars="0"
                :resolve-on-load="false"
                :infinite="true"
                :limit="10"
                :clear-on-search="true"
                :delay="0"
                :searchable="true"
                :options="async (query) => {
                    return await fetchCompanyRole(query)
                }"
                @open="(select$) => {
                        if (select$.noOptions) {
                            select$.resolveOptions()
                        }
                }" />
        </div>
        <div class="d-grid gap-2">
            <button :disabled="!validated" @click="register" type="button"
                class="btn btn-primary mt-5">Selanjutnya</button>
        </div>
    </form>
</template>
