<script>
import { defineComponent, nextTick, onMounted, reactive, ref, watch } from 'vue'
import Modal from '../general/Modal.vue'

import api from 'api'
import { useApiStore } from '../../stores/useApiStore';
export default defineComponent({
    name: 'Register',
    components: {
        Modal
    },
    computed: {
        validated() {
            return !Object.values(this.registerData).some(value => !value);
        },
        otpButtonStatus() {
            // You can also check if all inputs are filled here and enable the button.
            return !(this.otpCode.filter((digit) => digit !== '').length === 6);
        }
    },
    setup() {
        const registerData = reactive({
            email: ''
        })

        const otpCode = reactive(['', '', '', '', '', ''])

        const otpModal = ref(false)
        const emailModal = ref(false)

        const closeModal = () => {
            otpModal.value = false
        }

        const showModal = async () => {
            otpModal.value = true

            await nextTick();
            document.getElementById('otpInput1').focus()
        }

        const register = async () => {
            const response = await api.post('/register/verify-email', registerData)

            if (response.data.status === 'success') {
                showModal()
            }
        }

        const resendOtp = async () => {
            closeModal()
            otpCode.forEach((digit, index) => {
                otpCode[index] = ''
            })

            const response = await api.post('/register/get-otp', registerData)

            if (response.data.status === 'success') {
                showModal()
            }
        }

        const verifyOtp = async () => {
            const response = await api.post('/register/verify-otp', {
                ...registerData,
                otp: otpCode.join('')
            })

            if (response.data.status === 'success') {
                window.location.href = '/register/complete#profile'
            }
        }


        const currentTextInput = ref(1)
        const nextInput = async (e, index) => {
            if (isNumericKeypadKey(e)) {
                if (index <= 6) {
                    await nextTick()
                    document.getElementById(`otpInput${index}`).focus()
                    document.getElementById(`otpInput${index}`).select()
                    currentTextInput.value = index
                }
            }
        }

        const isNumericKeypadKey = (e) => {
            const numericKeypadKeys = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '*', '+', '-', '.', '/', 'Enter'];
            return numericKeypadKeys.includes(e.key);
        };

        //store
        const apiStore = useApiStore()

        watch(() => apiStore, async (value) => {
            if (value) {
                if (value?.errors?.email && value?.errors?.email[0] === 'email sudah terdaftar.') {
                    emailModal.value = true
                } else {
                    emailModal.value = false
                }
            }
        }, {
            deep: true
        })

        onMounted(() => {

        })

        return {
            otpModal,
            emailModal,
            registerData,
            otpCode,
            currentTextInput,

            closeModal,
            register,
            resendOtp,
            showModal,
            nextInput,
            verifyOtp,

            apiStore
        }
    }
})
</script>

<template>
    <div class="card shadow" style="width: 32rem;">
        <div class="card-body">
            <div class="text-center">
                <img src="/assets/media/logos/logo-tigadigit.png" width="200" alt="">
                <h4 class="card-title mt-8 mb-2 fw-bolder">Buat Akun</h4>
                <p class="card-text">Silahkan isi format berikut</p>
            </div>
            <form>
                <div class="mb-3 d-flex flex-column align-items-start">
                    <label for="email" class="form-label fw-bolder">Email</label>
                    <input v-model="registerData.email" type="email" placeholder="Masukkan email Anda" class="form-control"
                        :class="(apiStore?.errors?.email) ? 'is-invalid' : ''" id="email">
                    <span v-if="apiStore?.errors?.email" class="invalid-feedback" role="alert">{{ apiStore?.errors?.email[0]
                    }}</span>
                </div>
                <div class=" text-center">
                    <div class="d-grid gap-2">
                        <button :disabled="!validated" @click="register" type="button"
                            class="btn btn-primary mt-5">Daftar</button>
                    </div>
                    <div class="mt-2 mb-2">- Atau -</div>
                    <div class="d-grid">
                        <a class="btn btn-outline">
                            <img src="/assets/media/svg/social-logos/google.svg" width="25" alt="google logo" class="mr-2">
                            &nbsp;Daftar Menggunakan Akun Google
                        </a>
                    </div>
                    <div class="form-text mt-8">Sudah memiliki akun? <a href="/login" class="fw-bold">Masuk</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <Modal v-model="otpModal" back-drop="static">
        <form action="" method="GET">
            <div class="modal-body p-10 text-center">
                <img src="/assets/media/logos/logo-tigadigit.png" width="200" alt="">
                <h2 class="fw-bolder mt-10 mb-2">Kode OTP</h2>
                <p style="font-size: 16px;" class="mb-12">Masukkan kode otp yang kami kirimkan</p>
                <p>
                    <span v-if="apiStore?.errors?.otp" class="text-danger">{{ apiStore?.errors?.otp[0]
                    }}</span>
                </p>

                <div class="otp-field mb-4">
                    <input max="1" id="otpInput1" type="number" v-model="otpCode[0]" @keyup="nextInput($event, 2)"
                        @keypress="nextInput($event, 2)" />
                    <input id="otpInput2" :class="(currentTextInput < 2) ? 'c bg-secondary-subtle' : ''" type="number"
                        :disabled="(currentTextInput < 2)" v-model="otpCode[1]" @keyup="nextInput($event, 3)"
                        @keypress="nextInput($event, 3)" />
                    <input id="otpInput3" :class="(currentTextInput < 3) ? 'c bg-secondary-subtle' : ''" type="number"
                        :disabled="(currentTextInput < 3)" v-model="otpCode[2]" @keyup="nextInput($event, 4)"
                        @keypress="nextInput($event, 4)" />
                    <input id="otpInput4" :class="(currentTextInput < 4) ? 'c bg-secondary-subtle' : ''" type="number"
                        :disabled="(currentTextInput < 4)" v-model="otpCode[3]" @keyup="nextInput($event, 5)"
                        @keypress="nextInput($event, 5)" />
                    <input id="otpInput5" :class="(currentTextInput < 5) ? 'c bg-secondary-subtle' : ''" type="number"
                        :disabled="(currentTextInput < 5)" v-model="otpCode[4]" @keyup="nextInput($event, 6)"
                        @keypress="nextInput($event, 6)" />
                    <input id="otpInput6" :class="(currentTextInput < 6) ? 'c bg-secondary-subtle' : ''" type="number"
                        :disabled="(currentTextInput < 6)" v-model="otpCode[5]" />
                </div>

                <p class="resend text-start">
                    Belum dapat OTP? <a @click="resendOtp()" href="#" class="fw-bolder">Kirim ulang</a>
                </p>

                <div class="d-grid gap-2">
                    <button @click="verifyOtp()" :disabled="otpButtonStatus" type="button" class="btn btn-primary mt-5 mb-5">Masuk</button>
                </div>

                <p class="resend text-start">
                    Tidak kunjung menerima OTP? coba <a @click="closeModal()" href="#" class="fw-bolder">Ganti Email</a>
                </p>
            </div>
        </form>
    </Modal>

    <Modal v-model="emailModal" back-drop="default">
        <div class="text-center">
            <img src="assets/media/auth/hands-hold-mobile-phone-click-checkmark.png" width="200" alt="">
            <h4 class="fw-bolder my-5">Email Sudah Terdaftar</h4>
            <p style="font-size: 16px; padding: 0 50px;">
                Email ini sudah ter-registrasi silahkan klik “Masuk” untuk Login
            </p>

            <div class="d-grid gap-2">
                <a href="/login" class="btn btn-primary mt-5">Masuk</a>
            </div>
        </div>
    </Modal>
</template>
