<script>
import { defineComponent, onMounted, reactive, ref } from 'vue'
import Modal from '../general/Modal.vue'
import { useApiStore } from '../../stores/useApiStore'
import api from 'api'

import Multiselect from '@vueform/multiselect'
import { UserIcon, BuildingOffice2Icon, BoltIcon } from '@heroicons/vue/24/solid'
import PasswordMeter from '../general/PasswordMeter.vue'

import CompanyDetail from './CompanyDetail.vue'

export default defineComponent({
    name: 'Register',
    components: {
        CompanyDetail,
        Modal,
        Multiselect,
        PasswordMeter,
        UserIcon,
        BuildingOffice2Icon,
        BoltIcon
    },
    computed: {
        validated() {
            return (!Object.values(this.registerData).some(value => !value) && this.passwordStrength >= 3);
        }
    },
    setup() {
        const apiStore = useApiStore()

        const showPassword = ref(false)
        const registerData = reactive({
            full_name: '',
            phone_number: '',
            company_role_id: '',
            password: ''
        })
        const otpModal = ref(false)
        const options = reactive([
            {
                'id': 1,
                'name': 'asdfafds'
            }
        ])
        const passwordStrength = ref(0)

        const register = async () => {
            const response = await api.post('/register', registerData)

            return response.data.data
        }

        const fetchCompanyRole = async (query) => {
            const response = await api.get('/company-role/list', {
                params: {
                    query: query
                }
            })

            return response.data.data
        }

        const currentTab = ref(null)
        const updateTabFromHash = () => {
            const hash = window.location.hash;
            currentTab.value = hash
        };

        // lifecycle hooks
        onMounted(() => {
            updateTabFromHash();
            window.addEventListener('hashchange', updateTabFromHash);
        })

        return {
            otpModal,
            registerData,
            options,
            currentTab,
            showPassword,
            passwordStrength,
            apiStore,

            register,
            fetchCompanyRole
        }
    }
})
</script>

<template>
    <div class="text-center register-complete mb-5">
        <div class="d-flex flex-row align-items-center justify-content-center tabs">
            <div class="flex-column-auto" :class="(currentTab === '#profile') ? 'active' : ''">
                <UserIcon class="icon" />
                <br />
                Profil Kamu
            </div>
            <div class="flex-column-auto">
                <img src="/assets/media/register/arrow-right.png" style="height: 24;" alt="">
                <br />
            </div>
            <div class="flex-column-auto" :class="(currentTab === '#company') ? 'active' : ''">
                <BuildingOffice2Icon class="icon" />
                <br />
                Perusahaan
            </div>
            <div class="flex-column-auto">
                <img src="/assets/media/register/arrow-right.png" style="height: 24;" alt="">
                <br />
            </div>
            <div class="flex-column-auto">
                <BoltIcon class="icon" />
                <br />
                Preferensi
            </div>
        </div>
    </div>
    <div class="card shadow" style="width: 32rem;">
        <div class="card-body text-center">
            <img src="/assets/media/logos/logo-tigadigit.png" width="200" alt="">
            <div v-if="currentTab==='#profile'">
                <h4 class="card-title mt-8 mb-2 fw-bolder">Profil Pribadi</h4>
                <p class="card-text">Isi data akun pribadi kamu dengan lengkap</p>
                <form>
                    <div class="mb-3 d-flex flex-column align-items-start">
                        <label for="full_name" class="form-label fw-bolder">Nama Lengkap</label>
                        <input v-model="registerData.full_name" type="text" placeholder="Masukkan nama lengkap Anda"
                            class="form-control" id="full_name">
                    </div>
                    <div class="mb-3 d-flex flex-column align-items-start">
                        <label for="phone_number" class="form-label fw-bolder">No. Telepon</label>
                        <input v-model="registerData.phone_number" type="number" placeholder="Masukkan no. telepon"
                            class="form-control"  :class="(apiStore?.errors?.phone_number) ? 'is-invalid' : ''" id="phone_number">
                        <span v-if="apiStore?.errors?.phone_number" class="invalid-feedback" role="alert">{{ apiStore?.errors?.phone_number[0]
                        }}</span>
                    </div>
                    <div class="mb-3 d-flex flex-column align-items-start">
                        <label for="phone_number" class="form-label fw-bolder">Jabatan Di Perusahaan</label>
                        <Multiselect
                            v-model="registerData.company_role_id"
                            placeholder="Choose your role"
                            :close-on-select="true"
                            :filter-results="false"
                            :min-chars="0"
                            :resolve-on-load="false"
                            :infinite="true"
                            :limit="10"
                            :clear-on-search="true"
                            :delay="0"
                            :searchable="true"
                            :options="async (query) => {
                                return await fetchCompanyRole(query)
                            }"
                            @open="(select$) => {
                                    if (select$.noOptions) {
                                        select$.resolveOptions()
                                    }
                            }" />
                    </div>
                    <div class="mb-1 d-flex flex-column align-items-start">
                        <div class="input-group input-group-solid mb-1">
                            <input v-model="registerData.password" :type="(showPassword)?'text' : 'password'" class="form-control" placeholder="Masukan password Anda" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <span class="input-group-text">
                                <i @click="showPassword=!showPassword" id="toggle-password" class="fa-regular" :class="(showPassword)?'fa-eye':'fa-eye-slash'"></i>
                            </span>
                        </div>
                        <span class=""><small>Password minimal harus <strong>kuat</strong></small></span>
                    </div>
                    <password-meter :password="registerData.password" v-model="passwordStrength" />
                    <div class="d-grid gap-2">
                        <button :disabled="!validated" @click="register" type="button"
                            class="btn btn-primary mt-5">Selanjutnya</button>
                    </div>
                </form>
            </div>

            <div v-if="currentTab==='#company'">
                <CompanyDetail />
            </div>
        </div>
    </div>
</template>

<style src="@vueform/multiselect/themes/default.css"></style>
