//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Theme colors
$primary:       									#3E97FF;
$primary-active:    								#2884Ef;
$primary-light:    								    #e8fff3;
$primary-light-dark:							    #1c3238;
$primary-inverse:  									#FFFFFF;

// Success
$success:       									#0B9444;
$success-active:    								#47be7d;
$success-light:    									#EEF6FF;
$success-light-dark:    							#212E48;
$success-inverse:  									#FFFFFF;

// Info
$info:       									    #7239ea;
$info-active:    									#5014d0;
$info-light:    									#f8f5ff;
$info-light-dark:    								#2f264f;
$info-inverse:  									#FFFFFF;

// Danger
$danger:       									    #f1416c;
$danger-active:    									#d9214e;
$danger-light:    									#fff5f8;
$danger-light-dark:    								#3a2434;
$danger-inverse:  									#FFFFFF;

// Warning
$warning:       									#ffc700;
$warning-active:    								#f1bc00;
$warning-light:    									#fff8dd;
$warning-light-dark:    							#392f28;
$warning-inverse:  									#FFFFFF;

// Card
$card-box-shadow: 									none;
$card-border-enabled: 								true;

$body-grey-background: 								#F9F9F9;
$transparent-green:                                 #D2FFDC;
$transparent-red:                                   #FEE9E9;
$transparent-navy:                                  #C0EAFF;

$grey-dark-3: 										#292929;
$grey-dark-2: 										#555555;
$grey-dark-1: 										#7C7C7C;
$grey: 										        #B6B6B6;
$grey-light-1: 										#DEDEDE;
$grey-light-2: 										#F2F2F2;
$grey-light-3: 										#F8F8F8;

$navy: 												#284F62;
$navy-dark: 										#003780;
$navy-dark-2: 										#041450;

